{% load url from future %}
{% load rest_framework %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        {% endblock %}

        <title>{% block title %}YABA - Yet Another Bookmarking App{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <!--<link rel="stylesheet" type="text/css" href="{% static "yaba0/css/yaba.css" %}"/>-->
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/bootstrap.min.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/bootstrap-glyphicons.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/navbar-fixed-top.css" %}"/>
        {% endblock %}
        {% endblock %}

    {% endblock %}
    </head>

  <body class="{% block bodyclass %}{% endblock %} container" style="background: #cacadc">

    {% block navbar %}
    <div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %} navbar-fixed-top" role="navigation">
        <style>.body{padding-top: 70px}</style>
        <div class="navbar-inner">
            <div class="container-fluid">
                <span href="/">
                    {% block branding %}<a class='navbar-brand' rel="nofollow" href='/yaba0/api'>YABA - Yet Another Bookmarking App <span class="version">{{ version }}</span></a>{% endblock %}
                </span>
                
                <ul class="nav pull-right">
                    {% block userlinks %}
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" id="bm_user_id" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ user }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>{% optional_logout request %}</li>
                                </ul>
                            </li>
                        {% else %}
                            <li>{% optional_login request %}</li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- Content -->
    <div id="content">

        <div class="container-fluid">
            
            {% if user.is_authenticated %}
                {% if item|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="checkbox" id="bm_selectall" class="" rel="tooltip" title="Select All">
                            <button type="button" id="bm_shareall" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"
                                                rel="tooltip" title="Share Selected" disabled="true">
                                <span class="glyphicon glyphicon-globe"></span> 
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google+</a></li>
                            </ul>

                            <button type="button" id="bm_deleteall" class="btn btn-danger btn-xs" rel="tooltip" title="Delete Selected" disabled="true">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            
                        </div>
                    </div>
                {% endif %}
                {% for item in content_native %}
                    <div class="row" id="bm_row_{{ forloop.counter0 }}">
                        <div class="col-sm-12">
                            <div class="panel panel-success" >
                                <div class="panel-heading" style="background: #BDFF9C">
                                    <h3 class="panel-title">
                                        <a href="{{ item.url }}" id="bm_title_{{ forloop.counter0 }}">{{ item.name }}</a> 
                                        <div class="pull-right">
                                            <span class="glyphicon glyphicon-ok-sign label label-success" id="bm_save_success_{{ forloop.counter0 }}"
                                                  style="margin-right: 5px; font-size: 14px; display:none;">Saved</span>
                                            <input type="checkbox" id="bm_select_{{ forloop.counter0 }}">
                                        </div>
                                    </h3>
                                    
                                </div>
                                     
                                <div id="bm_details_{{ forloop.counter0 }}" class="panel-collapse collapse">                        
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form">
                                            <input type="hidden" id="bm_id_{{ forloop.counter0 }}" value={{ item.id }}>
                                            <div class="form-group bm-form-required">
                                                <label for="bm_name_{{ forloop.counter0 }}" class="col-sm-1 control-label text-primary">Name:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control " id="bm_name_{{ forloop.counter0 }}" value="{{ item.name }}">
                                                </div>
                                            </div>
                                            <div class="form-group bm-form-optional">
                                                <label for="bm_synopsis_{{ forloop.counter0 }}" class="col-sm-1 control-label text-primary">Synopsis:</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" style="resize: none;" id="bm_synopsis_{{ forloop.counter0 }}" rows="4">{{ item.description }}
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group bm-form-required">
                                                <label for="bm_url_{{ forloop.counter0 }}" class="col-sm-1 control-label text-primary">URL:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="bm_url_{{ forloop.counter0 }}" value="{{ item.url }}">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group bm-form-optional">
                                                <label for="bm_tags_{{ forloop.counter0 }}" class="col-sm-1 control-label text-primary">Tags:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="bm_tags_{{ forloop.counter0 }}" value="{{ item.tags }}">
                                                </div>
                                            </div>

                                            <!--
                                            <div class="form-group bm-form-required">
                                                <label for="bm_notify_{{ forloop.counter0 }}" class="col-sm-1 control-label text-primary">Remind After:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="bm_notify_{{ forloop.counter0 }}">
                                                </div>
                                            </div>
                                            -->
                                            
                                            <dl class="dl-horizontal text-primary pull-right" style="font-style:italic; font-size: x-small;">
                                                <dt>Last Updated:</dt>
                                                <dd id="bm_date_updated_{{ forloop.counter0}}">{{ item.updated }}</dd>
                                                <dt>Added:</dt>
                                                <dd id="bm_date_added_{{ forloop.counter0}}">{{ item.added }}</dd>
                                            </dl>
                                            
                                        </form>
                                    </div>
                                </div>

                                <div class="panel-footer" style="background: #BDFF9C">
                                    <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" 
                                                data-target="#bm_details_{{ forloop.counter0 }}" rel="tooltip" title="Edit">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </button>
                                        <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown"
                                                rel="tooltip" title="Share">
                                            <span class="glyphicon glyphicon-globe"></span> 
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Google+</a></li>
                                        </ul>
                                        <button type="button" id="bm_save_{{ forloop.counter0 }}" class="btn btn-primary btn-xs" rel="tooltip" 
                                                title="Save" disabled="disabled">
                                            <span class="glyphicon glyphicon-floppy-save"></span>
                                        </button>
                                        <button type="button" id="bm_restore_{{ forloop.counter0 }}" class="btn btn-warning btn-xs" rel="tooltip" 
                                                title="Restore">
                                            <span class="glyphicon glyphicon-repeat"></span>
                                        </button>

                                    </div>
                                    <button type="button" id="bm_delete_{{ forloop.counter0 }}" class="btn btn-danger btn-xs pull-right" rel="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                
            {% endif %}
            
        </div>

    </div>
    <!-- END Content -->

    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="modal-header" style="background: #FFB2B2">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-danger" id="deleteConfirmTitle">Confirm Delete</h4>
                </div>
                <div class="modal-body" id="deleteConfirmBody">
                    <p class="text-danger" id="deleteConfirmMsg"></p>
                    <div class="text-primary" id="deleteConfirmText"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteOkButton">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="resultTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"> 
                <div class="modal-header" style="background: #FFB2B2">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-danger" id="resultTitle"></h4>
                </div>
                <div class="modal-body" id="resultBody">
                    <p class="text-danger" id="resultMsg"></p>
                    <div class="text-primary" id="resultText"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom"  style="background: grey;" role="navigation">
        <div class="container">
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control center-block" placeholder="Search">
                </div>
            </form>
            <div 
        </div>
    </nav>

    {% block footer %}
    {% endblock %}

    {% block script %}
    <script src="{% static "yaba0/js/jquery.min.js" %}"></script>
    <script src="{% static "yaba0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "yaba0/js/yaba.js" %}"></script>
    {% endblock %}
  </body>
</html>
