{% extends "yaba0/yaba_base.html" %}

{% load url from future %}
{% load rest_framework %}
{% load staticfiles %}
{% load socialaccount %}
{% load i18n %}
{% load account %}

                    {% block list_content %}
                    {% if content_native|length > 0 %}
                    <div class="row-fluid">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="panel panel-success" >
                                <div class="panel-heading" style="background: #BDFF9C">
                                    <h3 class="panel-title">User Settings for {{ user.username }}</h3>
                                </div>

                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        {% if user.profile.account_verified %}
                                        <div class="form-group">
                                            <label for="bm_settings_email" class="col-sm-3 control-label text-primary">Email:</label>
                                            <div class="col-sm-7">
                                                <div class="input-group" id="bm_email_input_group">
                                                    <input type="text" class="form-control" id="bm_settings_email" value="{{ user.email }}">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-ok" title="Verified" id="bm_email_verified_span"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="form-group">
                                            <label for="bm_settings_email" class="col-sm-3 control-label text-primary">Email:</label>
                                            <div class="col-sm-7">
                                                <div class="input-group" id="bm_email_input_group">
                                                    <input type="text" class="form-control" id="bm_settings_email" value="{{ user.email }}">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary" id="bm_settings_btn_verify" title="Verification pending">Verify</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label text-primary">Social Account(s):</label>
                                            {% if user.profile.socialaccount_provider|length > 0 %}
                                            <div class="col-sm-5">
                                                {% for provider in user.profile.socialaccount_provider %}
                                                {% if provider.name == 'facebook' %}
                                                <image class="img-custom" src="{% static "yaba0/img/fb20.png" %}" name="Facebook" title="Google+" id="bm_prov_{{provider.id}}"></image>
                                                {% elif provider.name == 'google' %}
                                                <image class="img-custom" src="{% static "yaba0/img/gl20.png" %}" name="Google+" title="Google+" id="bm_prov_{{provider.id}}"></image>
                                                {% endif %}
                                                {% endfor %}
                                                {% if not user.profile.del_pending %}
                                                <div class="btn-group">
                                                    <button type="button" class="btn-custom dropdown-toggle" data-toggle="dropdown" title="Add a social account" id="bm_add_prov">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" style="background-color: #B2B2CC;">
                                                        <li role="presentation">
                                                            <a href="/accounts/facebook/login/?process=connect&next=/userprofile/{{user.profile.id}}/"  >
                                                                <span class="glyphicon icon-fb-share"></span>Facebook
                                                            </a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a href="/accounts/google/login/?process=connect&next=/userprofile/{{user.profile.id}}/">
                                                                <span class="glyphicon icon-gl-share"></span>Google+
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label for="bm_settings_notify" class="col-sm-3 control-label text-primary">Reminders:</label>
                                            <div class="col-sm-6" style="margin-top:5px" >
                                                <input type="checkbox" id="bm_settings_notify" {% if content_native.email_notify %}checked{% endif %}>
                                                {% if content_native.email_notify %}
                                                {% if user.profile.notify_max == -1 %}
                                                <label class="col-sm-offset-1 text-success">({{ user.profile.notify_current }} reminders set)</label>
                                                {% else %}
                                                <label class="col-sm-offset-1 text-success">({{ user.profile.notify_current }}/{{ user.profile.notify_max }} reminders set)</label>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bm_settings_summarize" class="col-sm-3 control-label text-primary">Auto Summarize:</label>
                                            <div class="col-sm-6" style="margin-top: 5px">
                                                <input type="checkbox" id="bm_settings_summarize" {% if content_native.auto_summarize %} checked {% endif %} >
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="bm_settings_paginate" class="col-sm-3 control-label text-primary">Bookmarks/Page:</label>
                                            <div class="col-sm-6" style="margin-top: 5px">
                                                <select id="bm_settings_paginate">
                                                    <option {% if content_native.paginate_by == 10 %}selected="selected"{% endif %}>10</option>
                                                    <option {% if content_native.paginate_by == 50 %}selected="selected"{% endif %}>50</option>
                                                    <option {% if content_native.paginate_by == 100 %}selected="selected"{% endif %}>100</option>
                                                    <option value="nopage" 
                                                            {% if content_native.paginate_by == 0 %}selected="selected"{% endif %}>No Paging</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <dl class="dl-horizontal text-primary pull-right" style="font-style:italic; font-size: x-small;">
                                        <dt>Last Updated:</dt>
                                        <dd id="bm_settings_updated">{{ user.profile.updated }}</dd>
                                    </dl>
                                </div>
                                <div class="panel-footer" style="background: #BDFF9C">
                                    <div>
                                        <a type="button" href="/" class="btn btn-default">Cancel</a>
                                        {% if user.profile.del_pending %}
                                        <span class="text-danger">This account has been marked for Removal</span>
                                        <a type="button" href="/userprofile/{{ user.profile.id }}" class="btn btn-success pull-right" id="bm_settings_cancel_remove">Cancel Account Remove</a>
                                        {% else %}
                                        <a type="button" href="/userprofile/{{ user.profile.id }}" class="btn btn-danger" id="bm_settings_save">Save</a>
                                        <a type="button" href="/userprofile/{{ user.profile.id }}" class="btn btn-warning pull-right" id="bm_settings_remove">Remove Account</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" style="margin-top:20px; display:none" id="bm_social_info">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="panel panel-success" >
                                <div class="panel-heading" style="background: #BDFF9C">
                                    <h3 class="panel-title" id="bm_social_info_title"></h3>
                                    <img id="bm_ajax_loader" src="{% static "yaba0/img/ajax-loader.gif" %}"/>
                                </div>

                                <div class="panel-body" id="bm_social_info_body">
                                    <p>YABA has access to following information:</p>
                                    <div id="bm_social_info_body_text" style="display:none;">
                                        <ul>
                                            <li>Basic Info: Id, Name, Username, Link, Gender, Locale, Age Range</li>
                                            <li id="bm_social_info_basic_extra"></li>
                                            <li id="bm_social_info_email"></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-footer" style="background: #BDFF9C">
                                    {% if user.profile.socialaccount_provider|length > 1 and not user.profile.del_pending %}
                                    <div>
                                        <a type="button" class="btn btn-default" id="bm_social_info_cancel">Cancel</a>
                                        <a type="button" href="#" class="btn btn-danger" id="bm_social_info_disconnect">Disconnect</a>
                                    </div>
                                    {% else %}
                                    <div>
                                        <a type="button" class="btn btn-default" id="bm_social_info_cancel">OK</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endblock %}

        {% block extras %}
        <div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="resultTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"> 
                    <div class="modal-header" style="background: #FFB2B2">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-danger" id="resultTitle"></h4>
                    </div>
                    <div class="modal-body" id="resultBody">
                        <div class="text-primary" id="resultTextLine1"></div>
                        <br/>
                        <div class="text-primary" id="resultTextLine2"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"> 
                    <div class="modal-header" style="background: #FFB2B2">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-danger" id="confirmTitle"></h4>
                    </div>
                    <div class="modal-body" id="confirmBody">
                        <div class="text-primary" id="confirmTextLine1"></div>
                        <br/>
                        <div class="text-primary" id="confirmTextLine2"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmOk">OK</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

    {% block script %}
    <script src="{% static "yaba0/js/settings.js" %}"></script>
    {% endblock %}
        