{% load url from future %}
{% load rest_framework %}
{% load staticfiles %}
{% load socialaccount %}
{% load i18n %}
{% load account %}

<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <title>{% block title %}YABA - Yet Another Bookmarking App{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/bootstrap.min.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/bootstrap-glyphicons.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/navbar-fixed-top.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/datepicker3.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "yaba0/css/yaba.css" %}"/>
            <link rel="shortcut icon" href="{% static "yaba0/img/favicon.ico" %}" />
        {% endblock %}
        {% endblock %}

    {% endblock %}
    </head>

    {% autoescape on %}
    <body class="{% block bodyclass %}{% endblock %} container" style="background: #cacadc">

        {% block navbar %}
        <div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %} navbar-fixed-top" role="navigation">
            <style>.body{padding-top: 70px}</style>
            <div class="navbar-inner">
                <div class="container-fluid">
                    <span href="/">
                        {% block branding %}<a class='navbar-brand' rel="nofollow" href='/'>YABA - Yet Another Bookmarking App <span class="version">{{ version }}</span></a>{% endblock %}
                    </span>
                    
                    <ul class="nav pull-right">
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    
                                    <img class="img-rounded" src="{{ user.profile.profile_image_url }}" height="40" width="40"/>
                                    <span>
                                        <a href="#" id="bm_user_id" class="dropdown-toggle" data-toggle="dropdown">
                                            {% if user.profile.profile_fullname %}
                                              {{ user.profile.profile_fullname }}
                                              <b class="caret"></b>
                                            {% else %}
                                              {{ user.username }}
                                              <b class="caret"></b>
                                            {% endif %}
                                        </a>
                                        <ul class="dropdown-menu" role="menu" style="background-color: #B2B2CC;">
                                            <li role="presentation"><a role="menuitem" href="/userprofile/{{ user.profile.id }}">
                                                Settings</a></li>
                                            <li role="presentation"><a role="menuitem" href="#" target="_top">Contact</a></li>
                                            <li role="presentation"><a href='/api-auth/logout/?next=/'>Log out</a></li>
                                        </ul>
                                    </span>
                                </li>
                            {% else %}
                                <button type="button" id="bm_btn_login" class="btn btn-primary" style="margin-top: 9px;">
                                        Sign Up / Login
                                </button>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        <div id="content">

            <div class="container-fluid">

            {% if user.is_authenticated %}
                {% block list_content %}
                {% endblock %}
                {% block footer %}
                {% endblock %}
            {% else %}
                    <div>
                        <div class="jumbotron">
                            <h1>
                                Welcome to YABA!
                                <img src="{% static "yaba0/img/yaba128.png" %}"/>
                            </h1>
                            <p class="info1">(or Yet Another Bookmarking App) <span style="color:red">(Under Development)</span></p>
                            <p> With YABA, you can:</p>
                            <ul>
                            
                            </ul>

                            <button type="button" id="bm_btn_login2" class="btn btn-primary" style="margin-top: 9px;">
                                            Sign Up / Login
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-5">
                                <span id="bm_fine_print">
                                        <div class="addthis_toolbox addthis_default_style">
                                            <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
                                            <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
                                            <a class="addthis_button_tweet" tw:count="vertical"></a>
                                        </div>
                                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535e54f710bf7894"></script>
                                        <a href="" target="_top" style="margin-left:25px">&copy; 2014 TwoPiSoft</a>
                                </span>
                            </div>
                        </div>
                    </div>
            {% endif %}

            </div>
        </div>

        {% block extras %}
        
        {% endblock %}

    <script src="{% static "yaba0/js/jquery.min.js" %}"></script>
    <script src="{% static "yaba0/js/bootstrap.min.js" %}"></script>
    {% block script %}
    
    {% endblock %}
  </body>
  {% endautoescape %}
</html>
